body {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 16em auto 13em;
    /* grid-template-areas: "nav-aside content"; */
    grid-template-areas: 
    "nav-aside header header"
    "nav-aside main rightside"
    "footer footer footer"
    "credit credit credit";
}

/* left sidebar */

aside {
    grid-area: nav-aside;
    background-color: #DADADA;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(78, 78, 78); */
    border-bottom: 3px solid #1D8EF7;
}

.profile {
    padding: 20px;
    border-bottom: 1px solid black;
}

.profile img {
    display: block;
    margin: 5px auto;
}

.item {
    padding: 20px;
}

.item:nth-child(even) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.item:nth-child(5) {
    border-bottom: 1px solid black;
}

.link {
    color: black;
}

.link:hover {
    text-decoration: none;
    color: black;
}

aside i {
    float: right;
    font-size: larger;
}

/* header */ 

.header {
    grid-area: header;
    padding: 0;
    position: relative;
    margin: 0;
    /* border: 3px solid rebeccapurple; */
    background: url('../images/Header.png');
    height: 150px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-logo {
    position: absolute;
    left: 0;
    top: 20%;
    z-index: 1;
    object-fit: cover;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

.ellipse {
    position: absolute;
    left: 2%;
    top: 20%;
    z-index: 2;
}

.logo {
    position: absolute;
    left: 2.4%;
    top: 23%;
    z-index: 2;
}

.header h5 {
    color: #fff;
    position: absolute;
    top: 35%;
    left: 25%;
    text-shadow: 0 0 0.2em #33bbff, 0 0 0.2em #33bbff,        0 0 0.2em #33bbff;
    font-size: 30px;
}

/* main */
main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto;
    /* grid-template-columns: auto; */
    grid-template-areas: "intro" "news";
    border: 3px solid #1D8EF7;
}

/* content */
.intro {
    grid-area: intro;
    padding: 25px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 3px solid #1D8EF7;
    box-shadow: 0px 1px 10px black;
}

.intro-text {
    padding: 10px;
    background-color: #DADADA;
}

.intro-text p {
    font-size: large;
}

.intro a {
    display: block;
    margin: 5px auto;
    width: 20%;
}

.news {
    grid-area: news;
    padding: 5px;
}

.news h5 {
    padding: 2px;
    border-bottom: 1px solid black;
}

.news table {
    width: 100%;
}

.news-text {
    text-align: left;
}

.news-date {
    text-align: right   ;
}

<<<<<<< HEAD

=======
>>>>>>> f2c611a13001485d1c1f0338ad28cf70ffa18fd0
.page6 {
    background-color: #33bbff;
}

main p {
    font-size: 20px;
    font-style: bold;
    font-family: Roboto Slab;
}

main table {
    border: #000 solid 2px;
}

.submit {
    background-color: #1D8EF7;
    border: #000 solid 2px;
}

.submit:hover {
    color: #fff;
    background-color: none;
}

#ctnbutton {
    padding: 5px 30px;
    left: 500px;
    top: 100px
}

<<<<<<< HEAD

=======
>>>>>>> f2c611a13001485d1c1f0338ad28cf70ffa18fd0
div#right_bar
{
    background-color:#DEDEDE;
    text-align: center;
    font-weight: bold;
    font-family: Roboto Slab;
}
p#total 
{
    font-weight: bold;;
}
p#case 
{
    color:#005AC5;  
}
td#number_case
{
    color:red;
} 
td#pays 
{
    width:100px;
}
table, td {
    border:1px solid black;
    margin:0px auto;

}
<<<<<<< HEAD
=======

>>>>>>> f2c611a13001485d1c1f0338ad28cf70ffa18fd0
/*right sidebar */
.right-sidebar {
    grid-area: rightside;
    background-color: #DADADA;
    border-top: 3px solid #1D8EF7;
    border-bottom: 3px solid #1D8EF7;
    padding: 20px;
    text-align: center;
}

.case-number {
    color: red;
    font-weight: bold;
}

table.case-detail {
    margin: auto;
}

table.case-detail .number {
    color: red;
    font-weight: bold;
    text-align: left;
    padding-right: 20px;
}

table.case-detail .country {
    color: black;
    font-weight: bold;
    text-align: left;
}

/* footer */ 
footer {
    grid-area: footer;
    background-color: #4F4A4A;
    padding: 10px;
    border-bottom: 3px solid #1D8EF7;
    font-family: 'Source Sans Pro', sans-serif !important;
}

footer .row {
    line-height: 1.35rem;
}

footer .footer-header {
    font-weight: bold;
    color: #1D8EF7;
}

footer p {
    color: white;
}

.box:nth-child(even) {
    border-left: 2px solid #1D8EF7;
    border-right: 2px solid #1D8EF7;
}

.sponsor li a, .instructor li {
    text-decoration: none;
    color: white;
}

.sponsor li a::before, .instructor li::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.social {
    text-align: center;
}

.social a {
    color: white;
    font-size: xx-large;
    letter-spacing: 15px;
}

.credit {
    grid-area: credit;
    padding: 5px;
    background-color: #4F4A4A;
    border-bottom: 3px solid #1D8EF7;
}

.credit p {
    text-align: center;
    color: white;
    margin: auto;
}
<<<<<<< HEAD

=======
*{
    box-sizing: border-box;
}
main {
    display: block;
    clear: both;
}
.column-2-6 
{
    width:30.333333%;
    margin-top:10px;
    margin-left:3%;
    float:left;
}
.column-4-6
 {
     margin-top:10px;
     margin-left:3%;
     width:60%; 
     float:left;
     display: block;
 }  
 .column-3-6-1
 {
    width:30%;
    
 }  
 .column-3-6-2
 {
    width:70%;
 }
 
 [class^=column]
 {
     float:left;
 }
 img#users 
 {
     width:100%;
 }
 h4
 {
     font-size:20px;    
     text-align: center;
 }
 ._button 
 {
    text-align: center;
 }
 .scanning 
 {
    text-align: center;
    font-weight: bold;
 }
#2_button 
{
    margin-left:100px;
}
 .checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* Page 5 */
div.status-box {
    grid-area: main;
    display: grid;
    grid-template-rows: 4em auto;
    /* grid-template-columns: auto; */
    grid-template-areas: "status" "recommendation";
    border: 3px solid #1D8EF7;
}

div.status {
    grid-area: status;
}

div.recommendation {
    grid-area: recommendation;
    display: grid;
    grid-template-columns: 30em auto;
    grid-template-areas: "part1 part2";
}

div#part_1 {
    grid-area: part1;
    margin-left: 10px;
}

div#part_2 {
    grid-area: part2;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}

div#part_2 ul {
    height: 130px;
    overflow-y: scroll;
}

.recommend-title {
    padding: 5px;
    background-color: #1D8EF7;
}

.recommendation ul {
    padding: 5px;
    background-color: #33bbff;
}
>>>>>>> f2c611a13001485d1c1f0338ad28cf70ffa18fd0
