@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.right-sidebar
{
    font-family: sans-serif;
    border: 1px solid #2e0000;
}

div#right_bar
{
    background-color:#f37070;
    text-align: center;
    font-family: sans-serif;
}
.total
{
    color: rgb(209, 0, 0);
    font-size: 35px;
}
p#case 
{
    color:#000000;  
}
td#number_case
{
    color:rgb(0, 0, 0);
} 
td#pays 
{
    width:100%;
}
table, td {
    border:1px solid rgb(73, 0, 0);
    margin:0px auto;
    width:100%;
    /* padding: 5px; */
}

