@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 18em auto 17em;
    /* grid-template-areas: "nav-aside content"; */
    grid-template-areas: 
    "nav-aside header header"
    "nav-aside main rightside"
    "footer footer footer"
    "credit credit credit";
    font-family: 'Bitter', serif !important;
}

/* left sidebar */

aside {
    
    grid-area: nav-aside;
    background-color: #9b1700;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(78, 78, 78); */
    border-top: 1px solid #2e0000;
    border-right: 1px solid #2e0000;
    border-left: 1px solid #2e0000;

}

aside .item:hover {
    background-color: #cc0000;
    font-size: large;
}

.profile {
    padding: 25px;
}

.profile img {
    display: block;
    margin: 5px auto;
}
.profile h5{
    color: white;
    padding-top: 5%;
    font-size: 20px;
}
.profile p{
    color: white;
    text-align: left;
    font-size: 13px;
}
.profile span
{
    color: rgb(255, 187, 0);
    text-align: left;
    font-size: 13px;
}
.item {
    font-size: 18px;
    padding: 20px;
}

.item.active {
    background-color: #5c0e00 !important;
    font-size: 18px;
    padding: 20px;
}

.item:nth-child(even) {
    border-top: 1px solid #2e0000;
    border-bottom: 1px solid #2e0000;
}

.item:nth-child(5) {
    border-bottom: 1px solid #2e0000;
}

.link {
    color: rgb(255, 255, 255);
}

.link:hover {
    text-decoration: none;
    color: rgb(255, 182, 182);
}

aside i {
    float: right;
    font-size: larger;
}

/* header */ 

.header {
    grid-area: header;
    padding: 0;
    position: relative;
    margin: 0;
    /* border: 3px solid rebeccapurple;
    background: url('../images/Header.png');
    height: 150px;
    */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #2e0000;
}
.header-img
{
    width: 100%;
}

.header-logo {
    position: absolute;
    left: 0;
    top: 20%;
    z-index: 1;
    object-fit: cover;
    display: block;
    margin-left: 0;
    margin-right: auto;
}
.ellipse {
    position: absolute;
    left: 2%;
    top: 20%;
    z-index: 2;
}

.logo {
    position: absolute;
    left: 2.4%;
    top: 23%;
    z-index: 2;
}

.header h5 {
    color: rgb(255, 196, 0);
    position: absolute;
    top: 35%;
    left: 25%;
    text-shadow: 0 0 0.2em #7d8000, 0 0 0.2em #7d8000,  0 0 0.2em #7d8000;
    font-size: 35px;
}

/* main */
main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto;
    /* grid-template-columns: auto; */
    grid-template-areas: "intro" "news";
    border: 1px solid #8a0000;
}

/* content */
.intro {
    grid-area: intro;
    padding: 25px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #8a0000;
}

.intro-text {
    padding: 10px;
    background-color: #DADADA;
}

.intro-text p {
    font-size: medium;
}

.intro a {
    display: block;
    margin: 5px auto;
    width: 20%;
}

.news {
    grid-area: news;
    padding: 5px;
}

.intro a
{
    background-color:#cc0000 ;
    border: 1px solid black !important;
}
.intro a:hover
{
    background-color:#940000 ;
    border: 1px solid black !important;
}

.news h5.news-header {
    padding: 2px;
    border-bottom: 1px solid black;
}

.news table {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

.news-table td {
    border: none;
}

.news-table tr td a {
    text-decoration: none;
    color: black;
}

.news-table tr td a:hover {
    color: #ff0000;
}

.news-text {
    text-align: left;
}

.news-date {
    text-align: right   ;
}

.news-list {
    margin-top: 20px;
    display: none;
}

.media {
    margin-bottom: 20px;
}

.media-body:nth-child(odd) {
    border-right: 1px solid black;
}

.media-left img {
    width: 300px;
    height: 150px;
}

.media-body {
    padding: 10px;
}

.media-body span {
    font-size: smaller;
    color: gray;
    text-transform: uppercase;
}

.media-heading {
    padding: 5px;
}

.media-heading a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.media-heading a:hover {
    color: #33bbff;
}

.page6 {
    background-color: #dadada;
}

main p {
    font-size: 20px;
    font-style: bold;
    font-family: Roboto Slab;
}

main table {
    border: #000 solid 2px;
}

.submit {
    background-color: #f71d1d;
    border: #000 solid 2px;
}

.submit:hover {
    color: #fff;
    background-color: none;
}

#ctnbutton {
    padding: 5px 30px;
    left: 500px;
    top: 100px
}

div#right_bar
{
    background-color:#DEDEDE;
    text-align: center;
    font-weight: bold;
    font-family: Roboto Slab;
}
p#total 
{
    font-weight: bold;;
}
p#case 
{
    color:#c50700;  
}
td#number_case
{
    color:red;
} 
td#pays 
{
    width:100px;
}
table, td {
    border:1px solid black;
    margin:0px auto;

}

.box{
    padding-top: 2%;
    padding-left: 3%;
}
/*right sidebar */
.right-sidebar {
    grid-area: rightside;
    color: rgb(0, 0, 0);
    background-color: DADADA !important;
    padding: 20px;
    text-align: center;
}
.right-sidebar h6{
    font-size: 20px;
}
.case-number {
    color: red;
}

table.case-detail {
    width: 96% !important;
    margin: auto;
}

table.case-detail .number {
    color: rgb(0, 0, 0);
    text-align: left;
    padding-right: 20px;
}

table.case-detail .country {
    color: black;
    text-align: left;
}

/* footer */ 
footer {
    grid-area: footer;
    background-color: #9b1700;
    padding: 10px;
    border: 2px solid #2e0000;
}

footer .row {
    line-height: 1.35rem;
}

footer .footer-header {
    font-weight: bold;
    color: #ffae00;
}

footer p {
    color: white;
}

.box:nth-child(even) {
    border-left: 2px solid #2e0000;
    border-right: 2px solid #2e0000;
}

.sponsor li a, .instructor li {
    text-decoration: none;
    color: white;
}

.sponsor li a::before, .instructor li::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.social {
    text-align: center;
}

.social a {
    color: white;
    font-size: xx-large;
    letter-spacing: 15px;
}

.credit {
    grid-area: credit;
    padding: 5px;
    background-color: #700000;
    border-bottom: 2px solid #2e0000;
    border-top: 1px solid #2e0000;
}

.credit p {
    text-align: center;
    color: white;
    margin: auto;
}
*{
    box-sizing: border-box;
}
main {
    display: block;
    clear: both;
}
.column-2-6 
{
    width:30.333333%;
    margin-top:10px;
    margin-left:3%;
    float:left;
}
.column-4-6
 {
     margin-top:10px;
     margin-left:3%;
     width:100%; 
     float:left;
     display: block;
 }  
 .column-3-6-1
 {
    width:30%;
    
 }  
 .column-3-6-2
 {
    width:60%;
 }
 
 [class^=column]
 {
     float:left;
 }
 img#users 
 {
     width:100%;
 }
 h4
 {
     font-size:20px;    
     text-align: center;
 }
 ._button 
 {
    text-align: center;
 }
 .scanning 
 {
    text-align: center;
    font-weight: bold;
 }
#2_button 
{
    margin-left:100px;
}
 .checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* Page 5 */
div.status-box {
    grid-area: main;
    display: grid;
    grid-template-rows: 4em auto;
    /* grid-template-columns: auto; */
    grid-template-areas: "status" "recommendation";
    border: 3px solid #1D8EF7;
}

div.status {
    grid-area: status;
}

div.recommendation {
    grid-area: recommendation;
    display: grid;
    grid-template-columns: 30em auto;
    grid-template-areas: "part1 part2";
}

div#part_1 {
    grid-area: part1;
    margin-left: 10px;
}

div#part_2 {
    grid-area: part2;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}

div#part_2 ul {
    height: 130px;
    overflow-y: scroll;
}

.recommend-title {
    padding: 5px;
    background-color: #1D8EF7;
}

.recommendation ul {
    padding: 5px;
    background-color: #33bbff;
}
main{
    width: 100%;
}
.info{
    border-bottom: 1px solid #8a0000;
}
.info{
    display:flex;
    width: 100%;
}
.info-detailed{
    padding-left: 0%;
}
.info1{
    border-right: 1px solid black;
}
.info2{
    border-left: 1px solid black;
}
label{
    display: inline-block;
    clear: left;
    width: 25%;
    text-align: right;
    margin-right: 2%;
    margin-top: 2%;
}
input, textarea{
    display: inline-block;
    width: 50%;
}
input[type="number"]{
    width: 15%;
}
input[type="file"]{
    display: inline-block;
    width: 50%;
}

/* scanning camera */ 
.loading-bar-box {
    width: 100%;
    background-color: rgba(155, 155, 255, 0.36);
    transition: width 10s linear;
    display: inline-block;
    vertical-align: middle;
}

.loading-bar {
    height: 5px;
    background-color: #aff;
    width: 1%;
    position: relative;
    transition: linear;
}