.grid-body .row-home:hover, .grid-body .row-check:hover, .grid-body .row-infor:hover, .grid-body .row-support:hover{
  background-color: #0088cc;
}
.grid-body .row-home .col-6 a{
  text-decoration: none;
  color: black;
}
.grid-body .row-home .col-4 a{
  text-decoration: none;
  color: black;
}
.grid-body .row-check .col-6 a{
  text-decoration: none;
  color: black;
}
.grid-body .row-check .col-4 a{
  text-decoration: none;
  color: black;
}
.grid-body .row-infor .col-6 a{
  text-decoration: none;
  color: black;
}
.grid-body .row-infor .col-4 a{
  text-decoration: none;
  color: black;
}
.grid-body .row-support .col-6 a{
  text-decoration: none;
  color: black;
}
.grid-body .row-support .col-4 a{
  text-decoration: none;
  color: black;
}

.intro-box {
    padding: 10px 15px 5px 15px;
    margin: auto;
}

.intro {
    background-color: rgb(240, 235, 228);
    padding: 10px;
    font-size: larger;
}

.box {
    padding: 25px;
}

a.btn {
    margin: 10px 320px;    
    border: 3px solid #1D8EF7;
    background-color: rgb(240, 235, 228);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h5.news-heading {
    width: 100%;
    border-bottom: 1px solid black;
}

.news table {
    width: 100%;
}

.news-text {
    text-align: left;
}

.news-date {
    text-align: right   ;
}


div#right_bar
{
    background-color:#DEDEDE;
    text-align: center;
    font-weight: bold;
    font-family: Roboto Slab;
}
p#total 
{
    font-weight: bold;;
}
p#case 
{
    color:#005AC5;  
}
td#number_case
{
    color:red;
} 
td#pays 
{
    width:100px;
}
table, td {
    border:1px solid black;
    margin:0px auto;

}
